h1 {
  color: red;
  width: 200px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  background-color: chartreuse;

  border-width: 15px;
  border-style: dotted;
  border-color: blue;

  border: 20px double green;

  border-top: 5px dotted red;
  border-bottom: 20px dashed red;

  border-top-left-radius: 40px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 30px;

  border-radius: 40px;
  border-radius: 40px 120px;
  border-radius: 40px 120px 10px;
  border-radius: 40px 120px 10px 60px;

  outline-width: 15px;
  outline-color: lightblue;
  outline-style: solid;
  outline: 15px double black;
}

h2 {
  color: chocolate;
  width: 200px;
  height: 150px;
  line-height: 150px;
  /* background-color: aqua; */
  text-align: center;

  border-top: 20px solid green;
  border-right: 20px solid yellow;
  border-bottom: 20px solid rgb(7, 171, 226);
  border-left: 20px solid darkmagenta;

  border-top-width: 5px;
  border-left-width: 20px;
  border-right-width: 10px;
  border-bottom-width: 15px;
}

h3 {
  color: green;
  width: 250px;
  height: 200px;
  line-height: 200px;
  text-align: center;

  border: 25px solid green;

  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
}

h4 {
  color: red;
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;

  border: 10px solid green;
  border-bottom: 10px dashed lightgreen;
  border-top: 15px;

  border-top-left-radius: 450px;
  border-top-right-radius: 450px;

  outline: 30px double greenyellow;
  outline-width: 20px;
}

h5 {
  color: darkmagenta;
  width: 150px;
  height: 200px;
  line-height: 100px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
  background-color: bisque;

  border-left: 30px double lightblue;
  border-right: 30px double lightblue;

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  outline: 10px solid black;

  text-decoration: underline;
  text-decoration-style: double;
}
