p {
  color: chartreuse;
  background-color: lightcoral;

  text-align: justify;

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: blue;

  text-transform: uppercase;

  font-size: large;
  font-family: cursive;
}

h2 {
  background-color: blueviolet;
  text-align: end;

  text-decoration: overline;
  text-decoration: dashed;

  text-transform: lowercase;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: lighter;
  font-variant: small-caps;
}

.color {
  background-color: lightgray;
}

#bgcolor {
  background-color: lightskyblue;
}
